alter_ego/.env
.gitignore
venv/
file_tree.txt
file_tree_with_code_contents.txt
create_tree.exe
create_tree_and_get_contents.exe
specs.py
crash_reports/
alter_ego/persistent/keys.json
alter_ego/stored_junk/
node_modules/
ELECTRON/persistentdata/keys.json
PYTHON/alter_ego/persistent/keys.json
keys.json